/***

====================================================================
  Global Settings
====================================================================

 ***/

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0px 15px;
  }
}

.large-container {
  max-width: 1600px;
  padding: 0px 15px;
  margin: 0 auto;
}

.container-fluid {
  padding: 0px;
}

.auto-container {
  position: static;
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

.small-container {
  max-width: 680px;
  margin: 0 auto;
}

.boxed_wrapper {
  position: relative;
  overflow-x: hidden;
  margin: 0 auto;
  width: 100%;
  min-width: 300px;
}

a {
  text-decoration: none;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}

a:hover {
  text-decoration: none;
  outline: none;
}

input,
button,
select,
textarea {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

input {
  transition: all 500ms ease;
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
  box-shadow: none;
  transition: all 500ms ease;
}

p {
  position: relative;
  color: #777777;
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 0px;
  font-style: normal;
  transition: all 500ms ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  margin: 0px;
  transition: all 500ms ease;
}

.centred {
  text-align: center;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

figure {
  margin: 0px;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  transition-delay: 0.1s;
  transition-timing-function: ease-in-out;
  transition-duration: 0.7s;
  transition-property: all;
}

@keyframes pulse {
  50% {
    box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.1),
      0 0 0 60px rgba(255, 255, 255, 0.1);
  }
}

@keyframes pulse-2 {
  50% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.2), 0 0 0 40px rgba(0, 0, 0, 0.1);
  }
}

/** button **/

.theme-btn {
  position: relative;
  display: inline-block;
  overflow: hidden;
  font-size: 15px;
  height: 50px;
  padding: 12px 80px 12px 40px;
  background: transparent;
  line-height: 26px;
  color: #4527a4;
  border: 1px solid #4527a4;
  font-weight: 500;
  border-radius: 30px;
  text-transform: capitalize;
  transition: all 500ms ease;
  cursor: pointer;
  z-index: 1;
}

.theme-btn:hover {
  color: #fff;
}

.theme-btn:before {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  content: "";
  background-color: #4527a4;
  border-radius: 30px;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transform-origin: top right;
  -ms-transform-origin: top right;
  transform-origin: top right;
  -webkit-transition: transform 500ms cubic-bezier(0.86, 0, 0.07, 1);
  -moz-transition: transform 500ms cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition: transform 500ms cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 500ms cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -moz-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}

.theme-btn:hover:before {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;
}

.theme-btn i {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #4527a4;
  font-size: 15px;
  color: #fff;
  border-radius: 50%;
  transition: all 900ms ease;
}

.theme-btn:hover i {
  background: transparent;
}

.theme-btn-two {
  position: relative;
  display: inline-block;
  overflow: hidden;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background: #4527a4;
  border-radius: 30px;
  text-align: center;
  padding: 10px 30px;
  cursor: pointer;
  z-index: 1;
  transition: all 500ms ease;
}

.theme-btn-two:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #fff;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: scale(0.2, 1);
  transform: scale(0.2, 1);
  z-index: -1;
}

.theme-btn-two:hover::before {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.theme-btn-two:hover {
  color: #4527a4;
  background: #fff;
  box-shadow: 0 0 15px rgba(69, 39, 164, 0.5);
}

/*** 

====================================================================
                        Portfolio-Page
====================================================================

***/

.portfolio-section {
  position: relative;
  padding: 150px 0px 70px 0px;
}

.portfolio-block-one {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}

.portfolio-block-one .image-box {
  position: relative;
  display: block;
  background: #4527a4;
}

.portfolio-block-one .image-box img {
  position: relative;
  display: block;
  width: 100%;
  transition: all 500ms ease;
}

.portfolio-block-one:hover .image-box img {
  opacity: 0.2;
}

.portfolio-block-one .image-box .content-box {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  padding: 0px 15px;
  transform: translate(-50%, -50%);
}

.portfolio-block-one .image-box .content-box .inner {
  position: relative;
  text-align: center;
  opacity: 0;
  -webkit-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
  transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  -webkit-transition: all 600ms ease;
  -ms-transition: all 600ms ease;
  -o-transition: all 600ms ease;
}

.portfolio-block-one:hover .image-box .content-box .inner {
  opacity: 1;
  -webkit-transition-delay: 500ms;
  -moz-transition-delay: 500ms;
  -ms-transition-delay: 500ms;
  -o-transition-delay: 500ms;
  transition-delay: 500ms;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}

.portfolio-block-one .image-box .content-box .title {
  position: relative;
  font-size: 18px;
  line-height: 30px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 17px;
  height: auto;
}

.portfolio-block-one .image-box .content-box h3 {
  position: relative;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
  margin: auto;
  text-transform: uppercase;
}

.portfolio-block-one .image-box .content-box h3 a {
  color: #fff;
}

.portfolio-section .filter-btns li {
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 26px;
  color: #222;
  padding: 8px 35px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 500ms ease;
  text-align: center;
}

.portfolio-section .filter-btns li.active,
.portfolio-section .filter-btns li:hover {
  background: #e5e5e5;
}

.portfolio-section .filter-btns {
  position: relative;
  display: block;
  margin-bottom: 50px;
}

/** portfolio-details **/

.portfolio-details {
  position: relative;
  padding: 150px 0px 100px 0px;
}

.portfolio-details .image-content .title-box {
  position: relative;
  display: block;
  margin-bottom: 64px;
}

.portfolio-details .image-content .title-box span {
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 28px;
  color: #282331;
  margin-bottom: 20px;
}

.portfolio-details .image-content .title-box h2 {
  position: relative;
  display: block;
  font-size: 35px;
  font-weight: 700;
  line-height: 48px;
  color: #282331;
}

.portfolio-details .image-content .image {
  position: relative;
  display: block;
  background: #4527a4;
  overflow: hidden;
  margin-bottom: 30px;
}

.portfolio-details .image-content .image img {
  width: 100%;
  opacity: 1;
  transition: all 900ms ease;
}

.portfolio-details .image-content .image:hover img {
  opacity: 0.2;
  transform: scale(1.1);
}

.portfolio-details .content-box {
  position: relative;
  display: block;
  margin-left: 40px;
}

.portfolio-details .content-box h5 {
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 28px;
  color: #222;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.portfolio-details .content-box p {
  position: relative;
  display: block;
  font-size: 18px;
  color: #777;
  margin-bottom: 37px;
}

.portfolio-details .content-box .info-list li {
  position: relative;
  display: block;
  font-size: 18px;
  color: #777;
  padding: 22px 0px 17px 0px;
  border-bottom: 1px solid #f3f3f3;
}

.portfolio-details .content-box .info-list li a {
  position: relative;
  display: inline-block;
  color: #777;
}

.portfolio-details .content-box .info-list li a:hover {
  text-decoration: underline;
}

.portfolio-details .content-box .info-list span {
  position: relative;
  display: inline-block;
  max-width: 50%;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  color: #777;
}

.portfolio-details .content-box .info-list {
  position: relative;
  display: block;
  margin-bottom: 72px;
}

.portfolio-details .content-box .social-icons li {
  position: relative;
  display: inline-block;
  margin-right: 23px;
}

.portfolio-details .content-box .social-icons li:last-child {
  margin-right: 0px;
}

.portfolio-details .content-box .social-icons li a {
  position: relative;
  display: inline-block;
  font-size: 24px;
  color: #bbb1c3;
}

.portfolio-details .content-box .social-icons li a:hover {
  color: #4527a4;
}

.portfolio-details .load-more-option a {
  position: relative;
  display: inline-block;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #777;
  text-shadow: 0 10px 3px rgba(0, 0, 0, 0.2);
}

.portfolio-details .load-more-option {
  position: relative;
  display: block;
  padding-top: 80px;
}

.portfolio-details .load-more-option a:hover {
  color: #4527a4;
}

.portfolio-details .upper-box {
  position: relative;
  margin-bottom: 100px;
}

.portfolio-details .upper-box .image {
  position: relative;
  display: block;
  background: #4527a4;
  overflow: hidden;
  margin-bottom: 30px;
}

.portfolio-details .upper-box .image img {
  width: 100%;
  opacity: 1;
  transition: all 900ms ease;
}

.portfolio-details .upper-box .image:hover img {
  opacity: 0.2;
  transform: scale(1.1);
}

.feature-style-three.elements {
  padding: 200px 0px 300px 0px;
}

/* owl carousel in portfolio details page */
.owl-nav-none .owl-nav {
  display: none !important;
}
.owl-dots-none .owl-dots {
  display: none;
}

/* Load More Post Button */
.btn_post_loadmore {
  margin: 30px auto;
  text-align: center;
  display: inline-block;
  width: 100px;
  position: relative;
  left: 45%;
  padding: 6px 15px;
  font-size: 14px;
  border-radius: 5px;
  background: #4527a4;
  color: #fff;
}
